[submodule "nextjs-course-code-clean"]
	path = nextjs-course-code-clean
	url = ./nextjs-course-code-clean
	ignore = dirty

[submodule "react-course"]
	path = nextjs-course-code-clean
	url = ./nextjs-course-code-clean
	ignore = dirty
